:host {
  display: inline-block;
  vertical-align: middle;
  color: var(--nui-secondary-text-color);
}

.nui-label {
  display: inline-block;
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  color: inherit;
  cursor: pointer;
}

.nui-label-required {
  margin-inline-start: 0.125em;
  color: var(--nui-danger-color);
}

.nui-label[invalid] {
  color: var(--nui-danger-color);
}

.nui-label[disabled] {
  opacity: 0.65;
  cursor: not-allowed;
  pointer-events: none;
}

.nui-label[size="small"] {
  font-size: 0.625rem;
}

.nui-label[size="large"] {
  font-size: var(--font-size-xs);
}
