:host {
  display: block;
  margin: 0;
  padding: 0;
}

p,
span {
  margin: 0;
  padding: 0;
}

.nui-paragraph {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  color: var(--nui-white-text-color);
}
